# Debug log from npm
npm-debug.log

# Error log from yarn
yarn-error.log

# Package lock - use yarn pls
package-lock.json

# IDE
.idea
.remote-sync.json

# Log and Sentry
*.log
*.sentry

# EdenJS config
nginx.conf

# Application bundles
app/bundles

# Redis
*.rdb

# ignore all but
/*/
!/lib
!/app

# local app
app/bundles
app/config.js
