# Logs
logs

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# IDE
.idea
.remote-sync.json

# EdenFrame config
config.js
nginx.conf

# Cache Directory
cache

# Web Directory
www

# Application bundles
app/bundles/*
